@import "variable";

.main {
	padding-top: 60px;

	h2 {
		padding: 0 14px;
		margin: 0;
		a {
			font-family: $font-medium;
			font-size: 16px;
			color: #000;
			&:hover {
				color: $red-color;
			}
		}
	}

	.content {
		padding: 0 14px;

		p {
		font-family: $font-regular;
		font-size: 9px;
		color: #000;
		line-height: 16px;
		}
	}
}

.page-title {
  background: url("./images/header-bg.png");
  background-size: cover;
  text-align: center;
  padding: 80px 0;
  color: #fff;
  font-size: 36px;
  font-family: $font-medium;
}

.post-content {
	border: 1px solid $gray-color;
}

.info {
	border-top: 1px solid $gray-color;
	text-align: center;
	padding: 10px 0;
	span {
		font-size: 12x;
		color: $gray-color;
		background: url("./images/date.png") 0 50% no-repeat;
		padding: 10px 0 10px 22px;
	}
}

.pagination {

  h2, .next, .prev {
    display: none!important;
  }

  .page-numbers {
    font-size: 18px;
    color: #fff;
    margin-right: 14px;
    background-color: $red-color;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .current {
    color: #000;
    
  }
}