$font-bold: "RobotoBold", sans-serif;
$font-light: "RobotoLight", sans-serif;
$font-regular: "RobotoRegular", sans-serif;


$dark-grey-color: #1c1c1c;
$light-grey-color: #757575;
$grey-color: #585858;
$orange-color: #ffaf36;
$light-color: #eaeff3;