$font-bold: "RobotoBold", sans-serif;
$font-light: "RobotoLight", sans-serif;
$font-regular: "RobotoRegular", sans-serif;
$font-medium: "RobotoMedium", sans-serif;


$blue-color: #004966;
$dark-blue-color: #2c3e50;
$red-color: #ff4848;
$orange-color: #d35400;
$dark-color: #17212a;
$gray-color: #777777